[connection]
id=MyHomeWiFi
uuid=c2a3e54b-63a2-4a4f-9e77-9a883188d3e0
type=wifi
interface-name=wlan0
autoconnect=true

[wifi]
mode=infrastructure
ssid=YOUR_WIFI_SSID

[wifi-security]
key-mgmt=wpa-psk
psk=YOUR_WIFI_PASSWORD

[ipv4]
method=auto

[ipv6]
method=auto
